{% extends 'base.html.twig' %}
{% block title %}Car driver by date{% endblock %}
{% block body %}

    <div>
        <a href='{{ path('taxi_co_homepage') }}'>Homepage</a>
    </div>
    </br>
    <div>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div>
            {{ form_row(form.rides) }}
        </div>
        </br>
        <div>
            {{ form_row(form.date) }}
        </div>
        </br>
        <div>
            {{ form_row(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>
    {% if form.vars.submitted == true %}
        {% if driver is not null %}
            <p>{{ driver.getDriverFullname }}</p>
        {% else %}
            <p>No Driver found for the given date and ride</p>
        {% endif %}
    {% endif %}
{% endblock %}